UPLOAD_DIRECTORY_PATH=/Users/spider_net/ha/readme-5/project/apps/file/uploads
MONGO_HOST=localhost
MONGO_PORT=27018
MONGO_DB=readme-file
MONGO_USER=admin
MONGO_PASSWORD=test
MONGO_AUTH_BASE=admin
SERVE_ROOT=/static
